[Desktop Entry]
Name=Klartext
Comment=AsciiDoc editor with live preview
Exec=klartext
Icon=klartext
Terminal=false
Type=Application
Categories=TextEditor;Development;
MimeType=text/plain;
StartupWMClass=klartext
